<h1><%= @event.title %></h1>

<h2>参加者の詳細</h2>
<p>名前: <%= @attendee.name %></p>
<p>趣味: <%= @attendee.hobby %></p>
<p>プロフィール: <%= @attendee.profile %></p>

<% if current_user.following?(@attendee) %>
  <%= link_to "フォローを外す", relationship_path(@attendee), method: :delete %>
<% else %>
  <%= link_to "フォローする", relationships_path(user_id: @attendee), method: :post %>
<% end %>